<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.0.0-alpha" targetFramework="win81" userInstalled="true" />
  <package id="Caliburn.Micro.Core" version="3.0.0-alpha" targetFramework="win81" userInstalled="true" />
  <package id="System.Numerics.Vectors" version="4.0.0" targetFramework="win81" userInstalled="true" />
</packages>